
#clear {
  float:center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: #f0f0f0;
  display: inline-block;
  font-size: 13px;
  margin-top: 5px;
  padding: 5px;
  -webkit-box-shadow: 0 1px 0 #686868 inset;
  box-shadow: 0 1px 0 #686868 inset;
  background: #555555;
  background: -moz-linear-gradient(top, #555555 0%, #525252 4%, #494949 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(4%,#525252), color-stop(100%,#494949));
  background: -webkit-linear-gradient(top, #555555 0%,#525252 4%,#494949 100%);
  background: -o-linear-gradient(top, #555555 0%,#525252 4%,#494949 100%);
  background: -ms-linear-gradient(top, #555555 0%,#525252 4%,#494949 100%);
  background: linear-gradient(to bottom, #555555 0%,#525252 4%,#494949 100%);
}
#clear:hover {
  background: #515151;
}
body {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  background-color: #f8f8f8;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #424547;
  text-align: center;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAC/CAIAAACwtyHbAAAAJ0lEQVQoz2P49PEjEwMDwygexYMW////H1MMm1ps6v79Q+H/Q6gFAJ+HEEI0f+QEAAAAAElFTkSuQmCC) repeat-x scroll left top rgb(229, 228, 228);
}

h1 {
  font-size: 36px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #424547;
}

h3 {
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #424547;
}

p {
 font-size: 16px;
}

input {
  font-size: 24px;
}

input[type=text] {
  color: #424547;
  border: 1px solid #c2c2c2;
  background-color: white;
}

em {
  font-style: normal;
  font-weight: bold;
  color: black;
}

/* Chat */
#messagesDiv {
  background-color: white;
  overflow: auto;
  height: 230px;
  width: 100%;
  padding: 10px;
  border: 8px solid #424547;
  margin-bottom: 5px;
  text-align: left;
}

#nameInput {
  width: 26%;
}

#messageInput {
  width: 68%;
}
